PORT=5000
JWT_SECRET=replace_with_a_strong_secret
JWT_EXPIRES_IN=7d

MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=root
MYSQL_DATABASE=pixora

UNSPLASH_ACCESS_KEY=1T20b7jxHmw6_YpmQdQqEvs4LywfEyi5Kn88ql9bmLY
UNSPLASH_BASE_URL=https://api.unsplash.com
PEXELS_API_KEY=misUdhpz3FSjuuocIdhWuNzI1Gaf6CxaiBjnvMlhBw9HTa62lfYYFUxb
PIXABAY_API_KEY=55957791-ec9c176195a99535e25049467

SUPPORT_EMAIL=madhavanvairavan3@gmail.com
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=madhavanvairavan3@gmail.com
SMTP_PASS=jpnd wuqs qbxg znmr
SMTP_FROM=Pixora Support <madhavanvairavan3@gmail.com>